body {
  background-color: #FFCCCC; /* Rojo claro */
  color: white; /* Texto blanco */
  font-family: Arial, sans-serif; /* Estilo de fuente */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Asegura que la página ocupe toda la altura de la ventana */
}

#first-screen, #thank-you-screen {
  text-align: center;
  padding: 20px;
  background-color: #FFCCCC; /* Rojo claro */
  border-radius: 10px;
  width: 80%;
  max-width: 500px; /* Limita el ancho máximo */
}

button {
  font-size: 18px;
  color: white;
  border: none;
  cursor: pointer;
  padding: 15px 30px;
  border-radius: 20px; /* Botones redondeados */
  margin: 10px;
  width: 200px; /* Ancho fijo de los botones */
  transition: background-color 0.3s ease; /* Efecto al pasar el mouse */
}

#yes-button {
  background-color: #66FF66; /* Verde suave */
}

#yes-button:hover {
  background-color: #4CAF50; /* Verde más oscuro al hacer hover */
}

#no-button {
  background-color: #FF6666; /* Rojo suave */
}

#no-button:hover {
  background-color: #FF3333; /* Rojo más oscuro al hacer hover */
}

#repeat-button {
  background-color: #66FF66; /* Verde suave */
}

#repeat-button:hover {
  background-color: #4CAF50; /* Verde más oscuro al hacer hover */
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}
